
#deployment-config-text {
    width: 90vh;
    font-family: monospace;
    font-size: small;
}

.editor {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.parameters {
    max-width: 50rem;
}

.deployment {
}

.variable {
    color: #507080;
}

pre {
    background-color: #f9fcff;
    padding: 1rem;
    border: 1px solid #e0e0e0;
}
