
#deployment-config-text {
    width: 90vh;
    font-family: monospace;
    font-size: small;
}

.layout {

    display: flex;

    & > * {
    }

}

.editor {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.params {
    width: 100vw;
}

.deployment {
    width: 100vw;
}

.variable {
    color: #507080;
}

